<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>email ejs template</title>
  </head>
  <body>
    <h1>Black sheep wall show me the money <%= email %></h1>

    <p>정말로 반가워요 ^^</p>
  </body>
</html>
